* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

a, button, select {
    text-decoration: none;
    cursor: pointer;
    border: none;
  }

